*{
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.table-wrapper {
  width: 100%;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #E5E7EB;
  box-shadow: 0 4px 10px rgba(0,0,0,0.03);
}

.table-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}
.admin-table th {
  text-align: left;
  font-size: 13px;
  color: #6B7280;
  font-weight: 600;
  padding: 12px;
  border-bottom: 2px solid #E5E7EB;
}

.admin-table td {
  padding: 12px;
  border-bottom: 1px solid #F3F4F6;
  font-size: 14px;
}

.admin-table tr:hover {
  background-color: #F9FAFB;
}


.tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.tag {
  background: #EEF2FF;
  color: #4338CA;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}
.actions button {
  background: #F3F4F6;
  border: none;
  cursor: pointer;
  margin-right: 6px;
  padding: 6px 8px;
  border-radius: 6px;
  transition: 0.2s;
}

.actions button:hover {
  background: #E0E7FF;
}

.ok {
  color: #16A34A;
}
.btn-primary {
  background: #4F46E5;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-primary:hover {
  background: #4338CA;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.3);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  width: 340px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  animation: modalOpen 0.2s ease;
}

@keyframes modalOpen {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  outline: none;
}

.modal input:focus {
  border: 1px solid #4F46E5;
}
